html {
    &:before {
        display: none;
        display: block;
        position: fixed;
        height: 50px;
        top: 0;
        left: 0;
        @media #{$small-only} {
            content: "small";
        }        
        @media #{$medium-only} {
            content: "medium";
        }
        @media #{$large-up} {
            content: "large";
        }
    }
}
    