html {
    &:before {
        display: none;
        @media #{$small-only} {
            content: "small";
        }        
        @media #{$medium-only} {
            content: "medium";
        }
        @media #{$large-up} {
            content: "large";
        }
    }
}
    