body {
    font-size: .6em;
    overflow-x: hidden;
    @media #{$small-up} {
        font-size: .8em;
    }
    @media #{$medium-up} {
        font-size: .85em;
    }
    @media #{$large-up} {
        font-size: 1em;
    }
}

a {
    text-decoration:none;
    border-bottom:1px dotted $gray;
    color: $gray;
    @include transition-duration(.2s);
    outline: 0;
    &:hover {
        border-bottom: 1px solid $quan;
        color: $quan;
        @include transition-duration(.5s);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $purple-dark;
    font-family: $bold;
    margin:{
        top: 1em;
        bottom: .3em
    }
    & + p {
        margin-top: 0;
    }
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1.2em;
    font-style: italic;
}