@mixin clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

@mixin circle {
	height: 6.25em;
	width: 6.25em;
	border:3px solid black;
	position:relative;
	left:60%;
	border-radius: 50%;
}

@mixin button($bgc: $purple-dark, $icon: "\f3d6") {
	border: none;
	cursor: pointer;
	padding: {
		top: .9375em; 
		right: .9375em * 4;
		bottom: .9375em;
		left: .9375em * 2;
	}
	background-color: $bgc;
	color: $white;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	border-bottom: 0;
	box-shadow: none;
	overflow: hidden;
	@include transition-duration(.3s);
	&:after {
		content: "";
		position: absolute;
		width: 25%;
		height: 200%;
		background: rgba(red, .5);
		background-color: rgba(255, 255, 255, .2);
		z-index: 1;
		right: 0;
		top: 0;
		@include transform(rotate(30deg));
		// @include transform(rotate(-20deg));
		@include transform-origin(125% 50%);
		// @include transform-origin(0 0);
		@include transition-duration(.3s);
	}
	&:before {
		content: $icon;
		font: {
			family: Ionicons;
			size: 1.5em;
		}
		position: absolute;
		top: 0;
		right: .9375em;
		line-height: 50px;
	}
	&:hover {
		@if lightness($bgc) < 50% {
			background-color: lighten($bgc, 10);
		  } @else {
			background-color: darken($bgc, 20);
		  }
		@include transition-duration(.3s);
		&:after {
			@include transition-duration(.3s);
			@include transform-origin(125% 60%);
		}
	}
}

@mixin std-border( $position:"" ) {
	border#{$position}:1px solid rgba($quan, .5);
}

@mixin background-clip($box) {
    -webkit-background-clip: $box;
    background-clip: $box;
}

@mixin backface-visibility($visibility: hidden) {
    -moz-backface-visibility: $visibility;
    -webkit-backface-visibility: $visibility;
    backface-visibility: $visibility;
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content
	}

	&:-moz-placeholder { /* Firefox 18- */
		@content
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		@content
	}

	&:-ms-input-placeholder {  
		@content
	}
}
// not actually a mixin but a global class
.preload {
    * {
        @include transition(none!important);
        @include animation-duration(0!important);
    }
}
