.single-quan_jobs {
    @include grid-column(12);
    .content {
        @include grid-column(12);
        background-color: transparent;
    }
    article {
        @include grid-column(12);
        @media #{$medium-up} {
            @include grid-column($columns: 12, $center: true);
            width: 800px;
            padding-top: .9375em;
            font-family: Georgia, serif;
            line-height: 1.5;
        }
    }
    h1 {
        text-align: center;
        &:after {
            content: "";
            display: block;
            width: 10%;
            border-bottom: 2px solid $purple-dark;
            margin: 0 auto .9375em;
        }
    }
    p {
        font-size: 1.5em;
        color: $purple-dark;
        img {
            max-width:100%;
        }
    }
}