.page-template-page-lpfr-php {
    .contents {
        @include grid-column($columns: 12, $center: true);
        @media #{$large-up} {
            max-width: 800px;   
        }
        @media #{$xxlarge-up} {
            max-width: 960px;
        }
    }

    .introduction {
        @include grid-column(12);
        padding-bottom: 5vh;
        h1, 
        h2 {
            text-align: center;
        }
        h2 {
            margin-top: 0;
            font-size: 1.4em;
        }
        p {
            font-size: 1.4em;
            line-height: 1.3;
            @media #{$large-up} {
                margin-top: .9375em;
            }
        }
        @media #{$large-up} {
            @include grid-column($columns: 12, $collapse: false);
            margin-top: 5vh;
        }
        form {
            @include grid-column(12);
            padding: .9375em;
            background-color: #fff;
            box-shadow: 2px 2px 10px $gray;
            @media #{$large-only} {
                left: 50%;
                margin-left: -400px;
                width: 800px;
            }
            @media #{$xlarge-up} {
                padding: .9375em;
                max-width: 300px;
                position: absolute;
                z-index: 1;
                top: 32px;
                left: 50%;
                margin-left: 415px;
            }
            input {
                @include appearance(none);
                @include grid-column(12);
                padding: .9375em * .5;
                border: 1px solid $purple-dark;
                margin-bottom: .9375em;
                font-size: 1.2em;
                @include placeholder {
                    color: $purple-light;
                }
                &:focus {
                    outline: 0;
                    @include placeholder {
                        color: $gray;
                    }
                    border-color: $green;    
                }
            }
            .submit {
                @include grid-column(12);
                padding: .9375em;
                @include appearance(none);
                text: {
                    transform: uppercase;
                    align: center;
                }
                color: $white;
                background-color: $red;
                @include transition-duration(.3s);
                &:hover {
                    background-color: darken($red, 20);
                    @include transition-duration(.3s);
                    cursor: pointer;
                }
            }
        }
    }

    .services-1,
    .services-2 {
        @media #{$large-up} {
            background-color: #fff;
            padding-top: 5vh;
        }
        .service {
            @include grid-column(12);
            padding: .9375em;
            margin-bottom: .9375em;
            background-color: #fff;
            @media #{$large-up} {
                background-color: transparent;
                @include grid-column($columns: 4, $collapse: false);
            }
        }
        h2 {
            text-align: center;
            color: $green;
        }
        h3 {
            text-align: center;
            margin-top: 0;
            &:before {
                @include grid-column(12);
                font: {
                    family: Ionicons;
                    size: 3em;
                    weight: normal;
                }
            }
        }
        p {
            font-size: 1.4em;
            @media #{$large-up} {
                font-size: 1.2em;
            }
        }
    }

    .collab {
        h3 {
            &:before {
                content: "\f1fe";
            }
        }
    }

    .trafic {
        h3 {
            &:before {
                content: "\f262";
            }
        }
    }

    .revenus {
        h3 {
            &:before {
                content: "\f316";
            }
        }
    }

    .analyse {
        h3 {
            &:before {
                content: "\f2b5";
            }
        }       
    }

    .contenu {
        h3 {
            &:before {
                content: "\f472";
            }
        }
    }

    .marque {
        h3 {
            &:before {
                content: "\f2ab";
            }
        }
    }

    .callout {
        @include grid-column(12);
        text-align: center;
        padding: {
            top: .9375em;
            bottom: .9375em;
        }
        margin: {
            top: .9375em;
            bottom: .9375em;
        }
        .text {
            @include grid-column(12);
            font: {
                family: $bold;
                size: 2em;
            }
            color: $purple-dark;
            margin-bottom: .9375em;
            @media #{$large-up} {
                @include grid-column($columns: 6, $collapse: false);
                text-align: right;
                margin-bottom: 0;
                line-height: 55px;
            }
        }
        .cta {
            @media #{$large-up} {
                @include grid-column($columns: 6, $collapse: false);
                text-align: left;
            }
            a {
                @include button();
                &:before {
                    line-height: 56px;
                }
                @media #{$large-up} {
                    &:before {
                        line-height: 50px;
                    }
                    &:after {
                        width: 12%;       
                    }
                }
            }
        }
    }

    footer {
        .work-with-us {
            display: none;
        }
    }
}
