.contact-form {
    label {
        display: none;
    }
    .name,
    .email,
    .tel {
        font-size: 1.2em;
        margin-bottom: .9375em;
        input {
            @include grid-column(12);
            font-size: 1em;
            padding: .9375em * .5;
            @include placeholder {
                font: {
                    family: $light;
                }
            }
        }
    }
    .name {
        @include grid-column(12);
    }
    .email,
    .tel {
        @include grid-column(6);
    }
    .email {
        margin-right: .9375em;
    }
}