footer {
    @include grid-column(12);
    background-color: #fff;
    padding: .9375em;
    @media #{$large-up} {
        height: 9.375em;
        padding: 0 3em;
    }

    .logo {
        @include grid-column();
        width: 3em;
        @media #{$large-up} {
            padding: 1px;
            height: 3em;
            margin-top: (9.375em - 3em) * .5;
        }
        img {
            width: 100%;
        }
    }
}

.push {
    @include grid-column(12);
    @media #{$large-up} {
        height: 9.375em;
    }
}
    .copy,
    .address {
        @include grid-column($columns: 10, $collapse: false);
        @media #{$large-up} {
            line-height: 9.375em;
            width: auto;
        }
    }
    
    .copy {
        font-family: $bold;
        color: $purple-dark;
        @media #{$large-up} {
            margin-top: 0;
        }
    }

    .address {
        font-family: $light;
        color: $purple-dark;
        @media #{$large-up} {
            @include grid-column($collapse: false);
        }
    }

    .work-with-us {
        @include button();
        clear: both;
        float: left;
        margin: {
            top: .9375em;
            left: 3em + .9375em;
        }
        @media #{$medium-up} {
            clear: none;
            float: right;
            display: block;
            right: 0;
            top: -2em;
            margin-left: 0;
        }
        @media #{$large-up} {
            margin-top: -25px;
            top: 50%;
        }
    }

.single-post {
    .single-wrapper {
        padding-bottom: 9.375em * .5;
    }
    .push {
        height: 1px;
    }
}

.blog {
    .main-loop-container {
        padding-bottom: 9.375em * .5;
    }
}

.review {
    padding-bottom: 9.375em * .61; // atm I have no clue why this has to be this multiplier
}

.single-quan_jobs {
    aside {
        padding-bottom: 9.375em * .5;
    }
}

.post-type-archive-quan_jobs {
    .main-container {
        padding-bottom: 9.375em * .5;
    }
}
// .page {
//     padding-bottom: 9.375em;
//     position: relative;
//     .contact-container {
//         padding-bottom: 9.375em;
//     }
// }