.lp-callout {
    @include grid-column(12);
    text-align: center;
    padding: {
        top: .9375em;
        bottom: .9375em;
    }
    margin: {
        top: .9375em;
        bottom: .9375em;
    }
    .text {
        @include grid-column(12);
        font: {
            family: $bold;
            size: 2em;
        }
        color: $purple-dark;
        margin-bottom: .9375em;
    }
    .cta {
        a {
            @include button();
            &:before {
                line-height: 56px;
            }
            @media #{$large-up} {
                &:before {
                    line-height: 50px;
                }
                &:after {
                    width: 12%;       
                }
            }
        }
    }
}