.js {
    .home {
        height: auto;
        &.overflowing {
            .contents {
                @media #{$large-up} {
                    position: relative;
                    top: 0;
                    @include transform(translate(-50%, 0));
                }
            }
            .main-container {
                overflow-y: hidden;
            }
        }
        &:not(&.overflowing) {
            @media #{$large-up} {
                height: 400vw;
                overflow-y: hidden;
            }
        }
    }
}

.home {    
    .main-container {
        text-align: center; // used for background positioning
    }

    .contents {
        @include grid-column(12);
        @media #{$large-up} {
            max-width: 800px;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            font-size: .85em;
        }
        @media #{$xlarge-up} {
            max-width: 960px;
            font-size: 1em;
        }
        @media #{$xxlarge-up} {
            max-width: 1200px;
        }
    }

    .frontpage-text {
        @include grid-column();
        @media #{$large-up} {
            @include grid-column();
            top: -400px;
            z-index: 3;
        }
        h2 {
            font-size: 3em;
            color: $green;
            margin: {
                top: 0;
                bottom: .2em;
            }
            @media #{$medium-up} {
                font-size: 3.5em;
            }
        }
    }

    .intro {
        @include grid-column(12);
        height: auto;
        min-height: 100vh;
        margin-top: -70px;
        font-size: 2em;
        @media #{$large-up} {
            margin-top: 0;
        }
        .contents {
            @include transform(translate(0, 0));
            @media #{$large-up} {
                @include transform(translate(-50%, 0));
            }
        }
        p {
            @include grid-column(12);
            margin: {
                top: 0;
                bottom: 12px;
            }
            font-size: .8em;
            @media #{$large-up} {
                @include grid-column($columns: 9, $offset: 1.5);
            }
        }
    }

        .unique-story {
            font-size: 1.45em;
            text-align: center;
        }

        .home-logo {
            position: relative;
            z-index: 1;
            margin-left: 0;
            padding-top: 15vh;
            height: 60vh;
            @media #{$medium-up} {
                height: 50vh;
            }
            svg {
                max-width: 100vw;
                padding-top: 80px;
                fill: $purple-dark;
                position: absolute;
                bottom: 0;
                left: 0;
                @media #{$medium-up} {
                    max-width: 50vw;
                    max-height: 50vh;
                    left: 50%;
                    @include transform(translateX(-50%));
                }
                @media #{$large-up} {
                    max-width: 50vw;
                    max-height: 33.3vh;
                    padding-top: 0;
                }
            }
        }
    
    
    .concept, 
    .growth,
    .trust {
        @include grid-column(12);
        font-size: 1.15em;
        padding-bottom: 3*16px;
        min-height: 100vh;
        .contents {
            @media #{$large-up} {
                
            }
            h3 {
                margin-top: .3em;
            }
        }
        section {
            text-align: left;
            @media #{$large-up} {
                @include grid-column($columns:4, $collapse: false);
            }
            h3 {
                margin-bottom: 0;
                text-align: center;
                margin-bottom: .9375em;
            }
            p {
                margin-top: 0;
                font-size: 1.25em;
            }
        }
    }

        .section-tagline {
            @include grid-column(12);
            font-size: 1.5em;
            margin-bottom: 3*16px;
        }

        .relaunch,
        .optimization,
        .analysis,

        .brand,
        .content,
        .social,

        .commitment,
        .direct,
        .cost-benefit {
            background-color: lighten($white, 5);
            padding: .9375em;
            margin-bottom: .9375em;
            @media #{$large-up} {
                background-color: transparent;
                padding: 0;
                margin-bottom: 0;
            }
        }

    .full-screen {
        @media #{$large-up} {
            position: relative;
            height: 100vh;
            width: 100vw;    
            &.intro {
                p {
                    padding-top: 5%;
                    font-size: 1em;
                }
                .unique-story {
                    font-size: 2em;
                    text-align: center;
                    padding-top: 1%;
                }   
            }
        }
    }
}
