
    .home {
        .main-container {
            text-align:center; // used for logo positioning and so on
            max-width:100%;
            padding-left: 0.9375em;
            padding-right: 0.9375em;
            img {
                @include transform( scale(.89) );
            }
        }
    }

    .intro-layout {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 300px;
        @media #{$background-fix} {
            width: 530px;
            height: 400px;
        }
    }

    .frontpage-text {
        @include grid-column();
        position: relative;
        top: -300px;
        z-index: 3;
        @media #{$background-fix} {
            top: -400px;
        }
        h2 {
            font-size: 3em;
            color: $green;
            margin: {
                top: 0;
                bottom: .2em;
            }
            @media #{$medium-up} {
                font-size: 3.5em;
            }
        }
    }

    .contents {
        @include grid-column($columns:12, $center: true);
        max-width: 1200px;

    }

    .intro {
        @include grid-column(12);
        font-size: 2em;
        padding-bottom: 3*16px;
        p {
            @include grid-column(12);
            margin: {
                top: 0;
                bottom: 12px;
            }
            @media #{$large-up} {
                @include grid-column($columns: 9, $offset: 1.5);
                text-align: justify;
            }
        }
    }

        .unique-story {
            font-size: 1.45em;
            text-align: center;
        }

        .home-logo {
            position: relative;
            z-index: 1;
            margin-left: 0;
            svg {
                max-width: 100%;
                max-width: 100vw;
                fill: $purple-dark;
                @media #{$large-up} {
                    display: block;
                    max-height: 50vh;
                    padding-top: 5%;
                    fill: $quan;
                    margin: {
                        left: auto;
                        right: auto;
                    }
                }
            }
        }
    
    .concept, 
    .growth,
    .trust {
        @include grid-column(12);
        font-size: 1.15em;
        padding-bottom: 3*16px;
        > p {
            font-size: 1.5em;
            margin-bottom: 3*16px;
        } 
        .contents {
            @media #{$medium-up} {
                @include grid-column(8);
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
            }
        }
        section {
            text-align: left;
            @media #{$medium-up} {
                @include grid-column($columns:4, $collapse: false);
            }
            h3 {
                margin-bottom: 0;
                text-align: center;
                margin-bottom: .9375em;
            }
            p {
                margin-top: 0;
            }
        }
    }

    .growth {
        section {
            @media #{$medium-up} {
                &:first-of-type {
                    @include grid-column($offset: 2);
                }
            }
        }
    }

.full-screen {
    @media #{$large-up} {
        position: relative;
        top: -35px;
        left: -15px;
        height: 100vh;
        width: 100vw;    
        padding-bottom: 0;
        &.intro {
            p {
                padding-top: 5%;
                font-size: 1.2em;
            }
            .unique-story {
                font-size: 2em;
                text-align: center;
                padding-top: 1%;
            }   
        }
    }
}
@include keyframes(svgColor) {
    0% {
        fill: $white;
    }
    100% {
        fill: $quan;
    }
}