// twitter cards

.index-tweet {
    > div {
        @include grid-column(12);
        padding: .9375em;
        background-color: #fff;
    }
    a {
        color: $purple-dark;
        border-bottom: none;
        box-shadow: none;
        &:hover {
            background-color: transparent;
        }
    }
    &:hover {
        cursor: default !important; //overwrite element style
        .tweet-content {
            a {
                box-shadow: inset 0 -3px rgba($twitter, .5);
                &:hover {
                    box-shadow: inset 0 -3px $twitter;
                }
            }
        }
    }
}

    .tweet-author {
        vertical-align: middle;
        &:hover {
            .twitter-name {
                border-bottom: 2px solid $purple-dark;
            }
        }
    }
        .twitter-image-container {
            position: relative;
            display: inline-block;
            width: 80px;
            height: 80px;
            margin: 10px;
            vertical-align: inherit;
            z-index: 2;
            &:hover {
                border: 0;
            }
        }

            .twitter-link {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 3
            }
            
            .twitter-image {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: {
                    color: $purple-dark;
                    size: contain;
                }
                z-index: 1;
            }

        .display-name {
            display: inline-block;
            vertical-align: inherit;
            br {
                font-size: 1.3em;
            }
        }

        .twitter-name {
            border-bottom: 2px solid transparent;
            color: $purple-dark;
            font: {
                family: nexa_boldregular, sans-serif;
                size: 1.2em;
            }
            line-height: 1.2;
            &:hover {
                color: $purple-dark;
                border-bottom: 2px solid $purple-dark;
            }
        }

        .twitter-screenname {
            border-bottom: 0;
            color: $gray;
            &:hover {
                border-bottom: 0;
            }
        }

    .tweet-attachment {
         background: {
             size: cover;
             position: 0;
         }
         min-height: 175px;
         width: 100%;
         margin: 10px 0;
     }
    
    .tweet-content {
        @include grid-column(12);
        border: {
            top: 1px solid $twitter;
            bottom: 1px solid $twitter;
        }
        font-size: 1.2em;
        p {
            margin-bottom: .9375em;
        }
    }

    // actions/intents
    .intents {
        @include grid-column();
        float: right;
        padding-top: .9375em;
    }

    .intent {
        @include grid-column();
        padding: {
            left: .375em;
            right: .375em;
        }
        float: right;
        a {
            color: $gray;
            font-size: 1.5em;
            border-bottom: 0;
            &:hover {
                color: $purple-dark;
                border-bottom: 0;
            }
        }
    }