// image and attribution
.post-image {
    
}

    .index-post-img {
        @include grid-column(12);           
    }

// heading and text
.index-post-text {
    @include grid-column($columns: 12, $collapse: false);
    background-color: #fff;
    h2 {
        @include grid-column(12);
        margin-bottom: .3em;
        font: {
            family: $bold;
            size: 1.5em;
        }
        a {
            color: $quan;
            border-bottom: none;
            box-shadow: none;
            &:hover {
                background-color: transparent;
            }
        }
    }
    p {
        @include grid-column(12);
        margin-top: 0;
        font-size: 1.2em;
    }
}
