.social-menu {
    position: absolute;
    bottom: .9375em;
    left: -300px;
    z-index: 50;
    font-size: 1em;
    @media #{$large-up} {
        font-size: 1.3em;
    }
    @include transition-delay(.2s);
    @include transition-duration(.3s);
    > div {
        @include grid-column(12);
    }
    a {
        border-bottom: none;
        color: lighten($purple-light, 20);
        &:before {
            content: "";
            font: {
                family: Ionicons;
            }
            @include grid-column(1);
            text-align: center;
        }
        &:hover {
            cursor: pointer;
            color: $green;
        }
    }
    .mail {
        a {
            &:before {
                content: "\f2c3";
            }
        }
    }
    .phone {
        a {
            &:before {
                content: "\f2d2";
            }
        }
    }
    .legal {
        a {
            &:before {
                content: "\f14a";
            }
        }
    }
}

// @media #{$large-up} {
//     .social-menu {
//         font-size: 25px;
//         color:$wheat;
//         // position:fixed;
//         // bottom:25px;
//         // left: 100%;
//         margin-left: -55px;
//         z-index:5;
//         visibility:visible;
//         @include clearfix();
//         > div {
//             white-space:nowrap;
//             position:relative;
//             @include transition-duration(.3s);
//             right:0;
//             &:hover {
//                 @include transition-duration(.5s);
//                 right: 87%;
//             }
//         }
//         a {
//             color:$wheat;
//             border-bottom:none;
//             width: 100%;
//             height: 100%;
//             margin-right: 30px;
//             display:inline-block;
//             text-shadow: $quan 1px 1px 2px;
//             span {
//                 width:25px;
//                 text-align:center;
//             }
//         }
//         span {
//             &:nth-of-type(2) {
//                 padding-left: 12px;
//                 font-family: nexa_lightregular, sans-serif;
//                 display:inline;
//             }
//         }
//     }
// }