.social-menu {
    position: absolute;
    bottom: .9375em;
    left: -300px;
    z-index: 50;
    font-size: 1em;
    @media #{$large-up} {
        font-size: 1.3em;
    }
    @include transition-delay(.2s);
    @include transition-duration(.3s);
    > div {
        @include grid-column(12);
    }
    a {
        border-bottom: none;
        color: lighten($purple-light, 20);
        &:before {
            content: "";
            font: {
                family: Ionicons;
            }
            @include grid-column(1);
            text-align: center;
        }
        &:hover {
            cursor: pointer;
            color: $green;
        }
    }
    .mail {
        a {
            &:before {
                content: "\f2c3";
            }
        }
    }
    .phone {
        a {
            &:before {
                content: "\f2d2";
            }
        }
    }
    .legal {
        a {
            &:before {
                content: "\f14a";
            }
        }
    }
}