.main-navigation {
    position: fixed;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    @include transform(rotate(0deg));
    @include transition-duration(1s);
    ul {
        position: absolute;
        top: 80px;
        left: 20px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        @include transition-duration(1s);
        a {
            font: {
                family: nexa_lightregular,sans-serif;
                size: 2.3em;
            }
            color: $white;
            border-bottom: none;
            @include transition-duration(.3s);
            &:hover {
                color: $green;
                @include transition-duration(.5s);
                .job-count {
                    border-left-color: desaturate($red, 25);
                    @include transition-duration(.5s);
                }
            }
        }
        li {
            position: relative;
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    left: $i * -150px;
                    @include transition-delay((14 - ($i + $i)) * .1s);
                    @include transition-duration(.3s);
                }
            }
        }
    }
    &.active {
        .navigation-corner {
            @include transition-delay(0s);
            @include transition-duration(1s);
            margin-left: 110%;
            @media #{$large-up} {
                margin-left: 80%;
            }
        }
        ul {
            pointer-events: auto;
        }
        li {
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    @include transition-delay(($i * .2s) + .2s);
                    @include transition-duration(.3s);
                    left: 0;
                }
            }
        }
        .menu-trigger {
            &:before { //open
                left: -101px;
                @include transition-duration(.5s);
            }
            &:after { //close
                left: 0;
                visibility: visible;
                @include transition-duration(.5s);
            }
            @media #{$background-fix} {
                left: -81px;
                &:after {
                    left: 81px;
                    padding-left: 20px;
                }
                &:hover {
                    left: 20px;
                    &:after {
                        left: 81px;
                        padding-left: 20px;
                        @include transition-duration(.5s);
                    }
                }
            }
            &.triggered {
                left: -120px;
                @include transition-duration(.5s);
                &:after {
                    padding-left: 0;
                }
            }
        }
    }
}

.menu-jobs {
    margin-top: -6px;
}

.job-count {
    border: {
        left: 15px solid $red;
        bottom: 31px solid transparent;
    }
    display: inline-block;
    font: {
        size: 12px;
        weight: bold;
    }
    position: relative;
    top: 8px;
    left: 12px;
    color: $white;
    width: 15px;
    @include transition-duration(.5s);
    &:before {
        content: attr(data-jobcount);
        position: absolute;
        right: 5px;
        top: 1px;
        @media #{$medium-up} {
            right: 14px;
        }
    }
    @media #{$medium-up} {
        border: {
            left: {
                width: 25px;
            }
            bottom: {
                width: 38px;
            }
        }
        width: 25px;
    }
}

.menu-trigger-checkbox {
    display: none;
}

.menu-trigger {
    color: $green;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 4;
    pointer-events: auto;
    font: {
        family: nexa_lightregular, sans-serif;
        size: 2em;
    }
    visibility: hidden;
    @include transition-duration(.5s);
    &:before { // open
        content: "\f1b4";
        font-family: Ionicons;
        position: absolute;
        left: 0;
        visibility: visible;
        @include transition-delay(1s);
        @include transition-duration(.5s);
    }
    &:after { // close
        content: "\f2bb"; 
        font-family: Ionicons;
        position: absolute;
        left: -101px;
        @include transition-duration(.5s);
    }
    &:hover {
        cursor: pointer;
    }
    @media #{$background-fix} {
        visibility: visible;
        @include transition-duration(.5s);
        &:before {
            left: -100%;
            @include transition-delay(0);
        }
        &:hover {
            cursor: pointer;
            left: -20px;
            @include transition-duration(.5s);
            &:before {
                left: 81px;
                padding-left: 10px;
                @include transition-duration(.5s);
            }
        }
        &.triggered {
            left: -120px;
            @include transition-duration(.5s);
        }
    }
}

.navigation-corner {
    height: 1000%;
    width: 100%;
    background-color: rgba($purple-dark, .95);
    margin-left: 85px;
    border-right: 1px solid rgb(72,66,86);
    pointer-events: auto;
    @include transition-duration(1s);
    @include transition-delay(1s);
    @include transform(translateX(-100%) rotate(30deg));
    @include transform-origin(100% 0);
    &:after {
        content: "";
        position: absolute;
        right: 139px;
        height: 100%;
        width: 15px;
        border-left: 1px solid $purple-border;
        border-right: 4px solid $purple-border;
        outline: 1px solid $purple-border;
        outline-offset: 10px
    }
    @media #{$background-fix} {
        margin-left: 150px;
    }
}

.notlang {
    display: none;
}

.notlang {
        @include grid-row();
        margin-top: 60px;
        font-size:1.2em;
        text-align:center;  
        span {
            float:none;
            width:auto;
            padding-right: 0;
        }
        select {
            @include grid-column(12);
            background: {
                color: $sky;
                image: url(../images/aperile.png);
                repeat: repeat;
            }
            &::-ms-expand {
                display: none;
            }
            float:none;
            width:auto;
            margin-top: 20px;
        }
    }
    @media #{$medium-up} {
        .notlang {
            .select {
                display:inline;
            }
        }   
    }

// replicate the navigation functionality with css checkbox
.no-js { 
    .menu-trigger-checkbox {
        opacity: 0;
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        height: 40px;
        width: 82px;
        z-index: 100;
        pointer-events: all;
        &:hover {
            cursor: pointer;
        }
        &:checked {
            ~ .navigation-corner {
                @include transition-delay(0s);
                @include transition-duration(1s);
                margin-left: 110%;
                @media #{$large-up} {
                    margin-left: 80%;
                }
            }
            ~ ul {
                pointer-events: auto;
                li {
                    @for $i from 1 through 10 {
                        &:nth-child(#{$i}) {
                            @include transition-delay(($i * .2s) + .2s);
                            @include transition-duration(.3s);
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}    