.single-content {
    ol,
    ul {
        font: {
            size: 1.3em;
        }
        color: $quan;
        @media #{$medium-up} {
            padding-left: .9375em * 2;
        }
    }
    .content-image {
        padding: 20px 0;
        &.full {
            width: 100%;
        }
        &.half {
            width: 50%;
        }
        img {
            box-shadow: 0 0 5px $gray;
            max-width: 100%;
        }
    }
    .wp-caption-text {
        margin: 0;
        font: {
            family: $light;
            size: 1em;
        }
    }

    .twitter-tweet {
        @include grid-column($columns: 12, $collapse: false);
        margin: 0;
        background-color: #fff;
        font: {
            family: $bold;
            size: 1.4em;
        }
        border: 4px solid $twitter;
        margin-bottom: 1em;
        overflow: hidden;
        &:after {
            content: "\f243";
            font: {
                family: "Ionicons";
                size: 4em;
            }
            color: rgba($twitter, .8);
            position: absolute;
            bottom: -33px;
            right: 0;
        }
        a {
            font-family: $light;
            color: $twitter;
            border: none;
        }
    }

    .quan-blockquote {
        @include grid-column($columns:12, $offset: 0);
        background-color: #fff;
        padding: .9375em;
        padding-left: .9375em * 3;
        border-left: .9375em solid $purple-light;
        &:before {
            content: "\201C";
            font: {
                size: 20em;
                family: Georgia, serif;
            }
            position: absolute;
            line-height: 1;
            top: -10px;
            left: 0;
            color: rgba($purple-light, .25);
        }
        p {
            @include grid-column(12);
            font:{
                family: $bold;
                size: 1.2em;
            }
            color: $quan;
            margin: 0;
        }
        footer {
            @include grid-column(12);
            padding: 0;
        }
        cite {
            @include grid-column(12);
            text-align: right;
            &:before {
                content: "\2014";
                padding-right: .9375em * .5;
            }
        }
    }

}