.sidebar {
    position: absolute;
    width: 100vw;
    top: 0;
    left: -15px;
    right: 0;
    z-index: 1;
    @media #{$large-up} {
        position: fixed;
        height: 50vh;
        left: 0;
        z-index: -1;
    }
    &.fade {
        .author {
            .name {
                opacity: 0;
            }
        }
    }

    .author {
        top: 0;
        right: 0;
        left: 50%;
        z-index: 100;
        font: {
            family: $bold;
            size: 2em;
        }
        color: $purple-dark;
        padding: .9375em * .5;
        padding-bottom: 0;
        text-align: right;
        line-height: 70px;
        opacity: 1;
        @media #{$large-up} {
            position: absolute;
        }
    }

    .tags, 
    .article-share,
    .author .social {
        display: none;
    }
}
        .profile-link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 0;
            z-index: 2;
            border-bottom: none;
            box-shadow: none;
            &:hover {
                background-color: transparent;
                & ~ .author-name,
                & ~ .author-job {
                    color: rgba($purple-dark, .7);
                    @include transition-duration(.3s);
                }
                & ~ .author-image-container {
                        // border: 10px solid #ff0000;
                        border-radius: 50%;
                        .author-image {
                            opacity: .9;
                            @include transform(scale(1.1));
                        }

                }
            }
        }

        .author-name,
        .author-job,
        .author-image {
            @include transition-duration(.3s);
        }


        .author-name {
            width: 100%;
            font-size: .8em;
            @media #{$medium-up} {
                font-size: 1em;
            }
        }

        .author-job {
            width: 100%;
            font: {
                family: $light;
                size: .575em;
            }           
            margin-top: -50px;
        }

        .author-name,
        .author-job {
            position: relative;
            padding-right: 90px;
        }

        .author-image-container {
            position: relative;
            position: absolute;
            top: 0;
            right: 0;
            float: right;
            width: 80px;
            height: 80px;
            margin: 10px;
            overflow: hidden;
            border-radius: 50%;
            z-index: 1;
        }
        
            .author-image {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
                background: {
                    color: $purple-dark;
                    repeat: no-repeat;
                    size: contain;
                }
            }