.single-content {
    ol,
    ul {
        font: {
            size: 1.3em;
        }
        color: $quan;
        @media #{$medium-up} {
            padding-left: .9375em * 2;
        }
    }
    .image {
        padding: 20px 0;
        &.full {
            width: 100%;
        }
        &.half {
            width: 50%;
        }
        img {
            box-shadow: 0 0 5px $gray;
            width: 100%;
        }
    }
    .wp-caption-text {
        margin: 0;
        font: {
            family: $light;
            size: 1em;
        }
    }
    blockquote {
        border-left:none;
        p {
            font:{
                family: NexaSlabxBoldItalic, Georgia;
                size: 0.975em;
            }
            color:$wheat;
            @include grid-column(12);
            border-left: 2px solid $wheat;
        }
    }

    
    dl {
        ~ .attribution {
            margin-top: -50px;
            margin-bottom: 20px;
            dd 
            img {
                box-shadow: none;
                padding: 0;
            }
        }
    }
}