.cover-image {
    position: absolute;
    height: 50vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: -15px;
    background: {
        repeat: no-repeat;
        size: cover;
        position: 50% 50%;
    }
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        background-color: rgba($white, .35);
        height: 100%;
    }
    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 300%;
        width: 1000%;
        background-color: $white;
        @include transform(rotate(-13deg));
        @include transform-origin(top left);
    }
    @media #{$large-up} {
        opacity: .75;
        z-index: -1;
        position: fixed;
        left: 0;
        background-size: cover;
        &:after {
            display: none;    
        }   
        .overlay {
            position: absolute;
            top: 0;
            left: 60%;
            height: 300%;
            width: 1000%;
            background-color: rgba($white, .45);
            @include transform(rotate(120deg));
            @include transform-origin(top left);
        }
    }
}
