.sidebar {
    position: absolute;
    width: 100vw;
    top: 0;
    left: -15px;
    right: 0;
    z-index: 1;
    @media #{$large-up} {
        position: fixed;
        height: 50vh;
        left: 0;
        z-index: -1;
    }
    &.fade {
        .author {
            .name {
                opacity: 0;
            }
        }
    }
}

.author {
    top: 0;
    right: 0;
    left: 50%;
    z-index: 100;
    @media #{$large-up} {
        position: absolute;
    }
}
    .image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        float: right;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .name {
        font: {
            family: $bold;
            size: 2em;
        }
        color: $purple-dark;
        padding: .9375em * .5;
        padding-bottom: 0;
        text-align: right;
        line-height: 70px;
        opacity: 1;
    }
        .job {
            font: {
                family: $light;
                size: .575em;
            }           
            margin-top: -50px;
        }


.tags, 
.article-share,
.author .social {
    display: none;
}
